:root {
    --navbar-height: 70px;
    --footer-height: 60px;
    --color-success: #17bd17;
    --color-dark: #171717;
    --color-light: #f1f1f1;
    --color-grey: #b8b8b8;
    --color-principal-1: #ef7575;
    --color-principal-2: #ec5e5e;
    --color-principal-3: #ee3b3b;
    --text-large: 1.5em;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-dark)
}

textarea {
    resize: none;
}

body {
    width: 100dvw;
    overflow-x: hidden;
    background: #dbdbdb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/*input[type=number] {*/
/*    -moz-appearance: textfield;*/
/*}*/

.no-scroll {
    overflow: hidden;
}

.mini-text {
    font-size: .8em;
}

.body-wrapper {
    height: auto;
    min-height: 100vh;
    max-width: 100dvw;
    position: relative;
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr var(--footer-height);
}



.main-wrapper {
    position: relative;
    max-width: 100vw;
}

.main-container {
    padding: 50px 5vw;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

label + ul {
    text-align: center;
    color: var(--color-principal-3);
}

.btn-container {
    text-align: center;
    margin: 2em 0;
}

.btn-delete {
    color: var(--color-light);
    background: var(--color-principal-3);
    box-shadow: 0 0 10px var(--color-principal-1);
}

form > .submit > button[type=submit] {
    text-transform: uppercase;
    padding: .7em .5em;
    max-width: 500px;
    width: 50%;
    min-width: max-content;
    margin-inline: auto;
    font-size: large;
    font-weight: bold;
    color: #f1f1f1;
    border: none;
    background: var(--color-principal-1);
    box-shadow: 0 0 5px var(--color-principal-3);
    border-radius: 5px;
    cursor: pointer;
}


.close-flash {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-flash > * {
    position: absolute;
    display: block;
    background: var(--color-light);
    height: 2px;
    width: 20px;
    top: 50%;
    left: 50%;
}

.close-flash > span:nth-last-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-flash > span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.flash-container {
    position: fixed;
    bottom: calc(0px + 10vh);
    right: calc(0px + 2vw);
}

.flash-box {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    padding: 1.2em 1.5em;
    border-radius: 10px;
    animation: 0.4s linear flashApparition;
}

.flash-text {
    color: var(--color-light);
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.15rem;
    text-transform: capitalize;
    width: 30vw;
    max-height: 300px;
    overflow-x: hidden;
}

.success {
    background: rgb(68, 176, 53);
}

.error {
    background: var(--color-principal-3);
}

.warning {
    background: #FF7200;
}

.close {
    transition: 0.5s ease-out;
    transform: translateX(20px);
    opacity: 0;
}

@keyframes flashApparition {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}