:root {
    --navbar-height: 70px;
    --footer-height: 60px;
    --color-dark: #171717;
    --color-light: #f1f1f1;
    --text-large: 1.5em
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-dark)
}

.mini-text {
    font-size: .8em;
}

.body-wrapper {
    background-color: lightgray;
    height: auto;
    min-height: 100vh;

    display: grid;
    grid-template-rows: var(--navbar-height) 1fr var(--footer-height);
}

.main-wrapper {
    position: relative;
}

.main-container {
    padding: 50px 5vw;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form > .submit > button[type=submit] {
    text-transform: uppercase;
    padding: .7em 0;
    max-width: 500px;
    width: 50%;
    margin-inline: auto;
    font-size: large;
    font-weight: bold;
    color: #f1f1f1;
    border: none;
    background: #181818;
    border-radius: 5px;
    cursor: pointer;
}