h2 {
    margin: 1em 0;
    text-align: center;
}

form#hours {
    font-size: var(--text-large);
}

.hours-contact {
    margin: 2em 0;
    width: 40%;
}

.hours-contact > h4 {
    margin-bottom: 2em;
    text-align: center;
    font-size: var(--text-large);
}

.hours-contact > ul > li {
    display: grid;
    grid-template-columns: 25% 1fr max-content;
    text-align: center;
    margin: .5em 0;
}

.hours {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.closed-hour {
    grid-column: 1 / span 4;
    text-align: center;
}

.form-wrapper {
    display: grid;
    grid-auto-rows: 2em;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr;
}

.input-wrapper > div > input {
    text-align: center;
}

.input-wrapper > div {
    justify-self: center;
    align-self: center;
}

.none {
    display: none;
}

.hours-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50%;
    justify-content: center;
    align-items: center;
}

.hours-item {
    width: 100%;
    margin-inline: auto;
}

.hours-item > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.hours-item-container > h4{
    text-align: center;
}

.hours-wrapper > *:nth-child(1) {
    border-right: 1px solid var(--color-dark);
}

.hours-item > * > select {
    text-align: center;
    width: 100px;
    font-size: 1.5rem;
}

label {
    margin-right: .5em;
}

label + input[type=checkbox] {
    font-size: 50px;
}

.hours-item > * > * {
    margin-inline: 1em;
    padding: .4em .8em;
}

.close {
    text-align: center;
    margin: 2rem 0;
    font-size: var(--text-large);
}

.close > div {
    width: auto;
    display: grid;
    grid-template-columns: auto 50px;
    justify-content: center;
}

.client-informations {
    display: flex;
    gap: 10px;
}

.client-informations > div {
    flex: 1;
}

.client-informations > #informations-logo {
    padding: 2em;
}

#informations a {
    color: var(--color-principal-3);
    font-style: italic;
}

#informations > div{
    margin-top: .5em;
}

#contact-hours-and-contact-mail {
    display: flex;
}

#contact-mail {
    flex: 1;
    padding: 20px;
    text-align: center;
}

#contact-mail > form {
    margin-top: 20px;
    width: 60%;
    margin-inline: auto;
}

#contact-mail > form input, #contact-mail > form textarea {
    padding: .4em;
}

#contact-mail > form input {
    text-align: center;
}

#contact-mail > form textarea {
    height: 100px;
}

#contact-mail > form > div > div {
    margin-top: .2em;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .client-informations {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    #contact-hours-and-contact-mail {
        flex-direction: column;
    }

    .hours-contact {
        margin-inline: auto;
        width: 90%;
    }

    .hours-contact > ul > li {
        display: flex;
        flex-direction: column;
    }

    .hours-contact > ul > li > span {
        font-weight: bold;
        margin-bottom: .3em;
    }

    #contact-mail > form {
        width: 90%;
    }
}