<nav>
    <div class="nav-container">
        <div class="left-navbar">
            <img src="" alt="Logo du garage V.Parrot">
            <ul class="list-container">
                <li>
                    <a href="#">Prestations</a>
                </li>
                <li>
                    <a href="#">Achats</a>
                </li>
                <li>
                    <a href="#">Vente</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="search-bar">
            <div class="search-container">
                <input id="search-input" type="text">
            </div>
        </div>
        <div class="right-navbar">
            <div class="account-items">
                <ul>
                    <li>
                        <a href="#" class="btn" id="register">Inscription</a>
                    </li>
                    <li>
                        <a href="#" class="btn" id="login">Connexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>