<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} {% if block("title") is not empty %} - {% endif %}Garage V. Parrot</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('_navBar') }}
            {{ encore_entry_link_tags('_footer') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="body-wrapper">
        <header>
            {% include './_components/_NavBar.html.twig' %}
        </header>
        <main class="main-wrapper">
            <div class="main-container">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            {% include './_components/_footer.html.twig' %}
        </footer>
    </div>

    </body>
</html>
